.container {
    display: flex;
    align-items: center;
    justify-content: center;
}


.link {
    color: white;
}

.fields {
    margin-bottom: 20px;
    margin-top: 20px;
}

.heading {
    border-bottom: 2px solid black;
    width: 150px;
    padding: 10px;
}


.text{
    color: black;
    text-align: center;
}